<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


        <bean id = "student" class="student">
                <property name="id" value ="1234"/>
                <property name="name" value ="Steve"/>
                <property name="ph">
                        <list>
                                <ref bean ="phone"/>
                        </list>
                </property>
                <property name="add" ref ="Address"/>
        </bean>


        <bean id="phone" class="Phone">
                <property name="mob" value="(432)-132-0984"/>
        </bean>

        <bean id="Address" class="Address">
                <property name="city" value="Virginia City"/>
                <property name="state" value="VI"/>
                <property name="country" value="United States"/>
                <property name="zipcode" value="19321"/>
        </bean>
    


</beans>